{% extends "base.html" %}

{% block body %}
  <h2 class="form-login-heading">Edit "{{goal.goal_name}}"</h2>
  <div style="padding-bottom: 15px" class="row">
  {% if errors %}
    <span class="help-block">A longer block of help text that breaks onto a new line and may extend beyond one line.</span>
  {% else %}
    Note: you can only make the goal more difficult in terms of frequency. You can never make it easier!
  {% endif %}
  </div>
  <div class="row">
    <form action="" method="post" class="form-horizontal" id="goal-form">
      {%csrf_token%}
      <div class="control-group">
        <label class="control-label">Select a timeframe</label>
        <div class="controls">
          <select id="id_time_frame_len" name="time_frame_len">
           {% ifequal goal.time_frame_len 'm' %}
            <option value="d">Daily</option>
            <option value="w">Weekly</option>
            <option value="m" selected="selected">Monthly</option>
          {% endifequal %}
           {% ifequal goal.time_frame_len 'w' %}
            <option value="d">Daily</option>
            <option value="w" selected="selected">Weekly</option>
          {% endifequal %}
           {% ifequal goal.time_frame_len 'd' %}
            <option value="d" selected="selected">Daily</option>
          {% endifequal %}
          </select>
          <span class="help-inline">
          {% for e in form.time_frame.errors %}
            {{e|escape}}
          {% endfor %}
          </span>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">How many per:</label>
        <div class="controls">
          <select id="id_num_per_frame" name="num_per_frame">
            <option value="1" selected="selected">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
      {%comment%}
           {% ifequal goal.num_per_frame 1 %}
          {% endifequal %}
           {% ifequal goal.num_per_frame 2 %}
            <option value="2" selected="selected">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
          {% endifequal %}
           {% ifequal goal.num_per_frame 3 %}
            <option value="3" selected="selected">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
          {% endifequal %}
           {% ifequal goal.num_per_frame 4 %}
            <option value="4" selected="selected">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
          {% endifequal %}
           {% ifequal goal.num_per_frame 5 %}
            <option value="5" selected="selected">5</option>
            <option value="6">6</option>
          {% endifequal %}
           {% ifequal goal.num_per_frame 6 %}
            <option value="6" selected="selected">6</option>
          {% endifequal %}
      {%endcomment%}
          </select>
          <span class="help-inline">
          {% for e in form.times_in_frame.errors %}
            {{e|escape}}
          {% endfor %}
          </span>
        </div>
      </div>
      <div class="control-group controls">
        <button class="btn btn-large btn-primary" type="submit">Change the goal</button>
      </div>
    </form>
  </div>

<div>
  <a href="{% url 'goal_delete' goal_pk=goal.pk %}">delete</a>
</div>



{% endblock %}
