
  <div class="goal-top">
    <div class="row">
      <div class="span2">
        <div class="goal-consecutive-frames goal-info">
          <span class="badge badge-info goal-streak-badge">{{goal.consecutive}}</span>
        </div>
      </div>
      <div class="span2">
        <div class="goal-name goal-info">
          <a href="{% url 'goal_overview' goal_pk=goal.pk %}">{{goal.goal_name}}</a>
        </div>
      </div>
      <div class="span2">
        <div class="goal-complete goal-info">
        </div>
      </div>
      <div class="span1">
        <div class="goal-complete-left goal-info">
        </div>
      </div>
      <div class="span1">
      </div>
      <div class="span2">
        <div class="goal-mark-complete" goal_id="{{goal.pk}}" complete-url="">
        </div>
      </div>
    </div>
    <div class="row goal-progress">
      <div class="span2">
      </div>
      <div class="span8">
        <div class="progress">
          </div>
        </div>
      </div>
      <div class="span2">
      </div>
    </div>
  </div>
