
{% load goal_extras %}

  <div class="goal-top goal-overview">
    <div class="row">
      <div class="span2">
        <div class="goal-name goal-info">
          <a href="{% url 'goal_overview' goal_pk=goal.pk %}">{{goal.goal_name}}</a>
        </div>
      </div>
      <div class="span2">
        <div class="goal-consecutive-frames goal-info">
          <span class="badge badge-info goal-streak-badge goal-consecutive">{{goal.consecutive_timeframes}}</span>
        </div>
      </div>
      <div class="span2">
      {% if goal.max_tf|all_objs_finished %}
      <span class="complete-label label label-success">COMPLETE</span>
      {% else %}
      <span class="complete-label label label-important">INCOMPLETE</span>
      {% endif %}
      </div>
      <div class="span6">
        {% for obj in goal.max_tf.objectives.all %}
          {% if obj.completed %}
          <span class="goal-objective" oid="{{obj.pk}}" completed="{{obj.completed|lower}}" gid="{{goal.pk}}" >{%csrf_token%}
            <span class="goal-obj-info">
              <img class="goal-obj-img" src="{{STATIC_URL}}img/square75x75c.png"/>
            </span>
          </span>
          {% else %}
          <span class="goal-objective" oid="{{obj.pk}}" completed="{{obj.completed|lower}}" gid="{{goal.pk}}" >{%csrf_token%}
            <span class="goal-obj-info">
              <img class="goal-obj-img" src="{{STATIC_URL}}img/square75x75.png"/>
            </span>
          </span>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>

