{% extends "base.html" %}

{% block body %}

<div class="row">
  <h1>{{goal}}</h1><span id="goal-consecutive">{{goal.consecutive_timeframes}}</span>
</div>

{% for tf in goal.order_timeframes %}

<div class="row">
  {{tf}}
  {% for obj in tf.objectives.all %}
    <span class="goal-objective" oid="{{obj.pk}}" completed="{{obj.completed|lower}}" gid="{{goal.pk}}" >{%csrf_token%} <span class="goal-obj-info">{{obj.completed|lower}}</span></span>
  {% endfor %}
</div>
{% endfor %}


<div>
<a href="{% url 'goal_edit' goal_pk=goal.pk %}">edit</a>
</div>



 {% endblock %}
