{% extends "base.html" %}

{% load humanize %}

{% block body %}

<div>
<div class="row">
  <div class="span3">
    <h1 class="goal-time-frame-heading">Daily</h1>
  </div>
  <div class="span9">
    THIS FRAME EXPIRES: {{daily_time|naturaltime}}
  </div>
</div>
{% for goal in daily_goals %}
  {% include "goals/individual.html" %}
{% endfor %}
{% if not daily_goals %}
  <div class="goal-top">
  You don't have any daily goals! <a href="{% url 'goal_create' %}">Create one!</a>
  </div>
{% endif %}
</div>

<div>

  <div class="row">
    <div class="span3">
      <h1 class="goal-time-frame-heading">Weekly</h1>
    </div>
    <div class="span9">
      THIS FRAME EXPIRES: {{weekly_time|naturaltime}}
    </div>
  </div>

  {% for goal in weekly_goals %}
    {% include "goals/individual.html" %}
  {% endfor %}
  {% if not weekly_goals %}
    <div class="goal-top">
      You don't have any weekly goals! <a href="{% url 'goal_create' %}">Create one!</a>
    </div>
  {% endif %}
  </div>

<div>

<div class="row">
  <div class="span3">
    <h1 class="goal-time-frame-heading">Monthly</h1>
  </div>
  <div class="span9">
    THIS FRAME EXPIRES: {{monthly_time|naturaltime}}
  </div>
</div>

  {% for goal in monthly_goals %}
    {% include "goals/individual.html" %}
  {% endfor %}
  {% if not monthly_goals %}
    <div class="goal-top">
      You don't have any monthly goals! <a href="{% url 'goal_create' %}">Create one!</a>
    </div>
  {% endif %}
</div>

{% endblock %}
