{% extends "base.html" %}

{% block body %}

  <form action="" method="post" class="form-horizontal" id="goal-form">
    <h2 class="form-login-heading">Change your settings</h2>
    {%csrf_token%}
    <div class="control-group">
      <label class="control-label">Select a timezone</label>
      <div class="controls">
        <select id="id_time_zone" name="time_zone">
        {% for tz in timezones %}
          <option {% ifequal member.time_zone tz %} selected="selected"{% endifequal %} value="{{tz}}">{{tz}}</option>
        {% endfor %}
        </select>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
      <label class="checkbox">
        <input id="id_subscribed_overall_email" name="subscribed_overall_email" type="checkbox" {% if member.subscribed_overall_email%}checked{%endif%}>
        Subscribe to informational emails
      </label>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
      <label class="checkbox">
        <input id="id_subscribed_reminder_email" name="subscribed_reminder_email" type="checkbox" {% if member.subscribed_reminder_email%}checked{%endif%}>
        Subscribe to reminder emails
      </label>
      </div>
    </div>
    <div class="control-group controls">
      <button class="btn btn-large btn-primary" type="submit">Change your info</button>
    </div>
  </form>



<div>
<a href="{% url 'member_delete' %}">Delete your account for good</a>
</div>

{% endblock %}
