{% extends "base.html" %}

{% block body %}

      <div class="hero-unit">
        <h1>StreakFlow</h1>
        <p>
        Everyone knows that practice makes perfect. The problem is that keeping the motivation, especially when it's difficult to see the positive effects instantly, makes achieving your goals difficult. Streakflow helps to solve this problem. Being able to see a streak of consecutive time frames that you've completed the desired task already makes it easy to keep up the motivation. And by focusing on small, manageable tasks, the long terms won't feel so overwhelming.
        </p>
      </div>
      <div class="row">
        <div class="span1">
        </div>
        <div class="span4">
          <h2>Different Time Frames</h2>
          <p>
            Some tasks take longer to do, but still are important to get done on a regular basis. Use daily, weekly and monthly time frames when necessary. 
          </p>
        </div>
        <div class="span2">
        </div>
        <div class="span4">
          <h2>Multiple Objectives per Timeframe</h2>
          <p>
            Sometimes, you may want to complete a goal more than once in a timeframe. With StreakFlow, you're able to decide how many times during your selected timeframe you need to be successful. As long as you know your goals before, you can still keep the streak.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="span5">
          <h2>How it works</h2>
        </div>
      </div>
      <div class="row">
        <div class="span5">
          <h3>Step 1: Create a goal</h3>
          Simply specify the desired time frame, and the number of times in that frame that you want to complete to be successful.
        </div>
        <div class="span7">
          <img src="{{STATIC_URL}}img/create.png" />
        </div>
      </div>
      <div class="row">
        <div class="span5">
          <h3>Step 2: Complete the goal</h3>
          Once you've completed the goal in the time frame, click on the box to show it's completed.
        </div>
        <div class="span7">
          <img src="{{STATIC_URL}}img/complete.png" />
        </div>
      </div>
      <div class="row">
        <div class="span5">
          <h3>Step 3: Don't stop; keep streaking</h3>
          Watch as your consecutive days' completed streak grows bigger. Your only goal now is to not have it go back to 0. Skipping one frame makes it easier to skip the next. Keep working.
        </div>
        <div class="span7">
          <img style="padding-top:10px" src="{{STATIC_URL}}img/complete-11.png" />
        </div>
      </div>

{% endblock %}
