{% extends "base.html" %}

{% block body %}

      <div class="hero-unit">
        <h1>StreakFlow</h1>
        <p>Find it hard to keep up motivation? Being able to see a streak of consecutive time frames that you've completed the desired task already makes it easy to keep up the motivation and watch the benefits flow. Use StreakFlow to watch your streak of consecutive time frames continues, and how easy it is to keep the success flow.
        </p>
      </div>

      <div class="row">
        <div class="span4">
          <h2>Different Time Frames</h2>
          <p>
            Some tasks take longer to do, but still are important to get done on a regular basis. Use daily, weekly and monthly time frames when necessary. 
          </p>
        </div>
        <div class="span4">
          <h2>Pick Number in Time Frame</h2>
          <p>
            We realize that doing things everyday may not be practical. With StreakFlow, you're able to decide how many times in one time frame you need to be successful. As long as you know your goals before, you can still keep the streak.
          </p>
        </div>
        <div class="span4">
          <h2>Change the requirements</h2>
          <p>
          Think you can do more than your current settings? Edit the goal to a harder or more frequent time frame and still keep your streak. You can't move to an easier time frame without losing your streak though. No cheating.
          </p>
        </div>
      </div>

{% endblock %}
