{% extends "base.html" %}

{% block body %}
<div class="row">
  <div class="span7">
    <img src="{{STATIC_URL}}img/sshotcomp.png"/>
  </div>
  <div class="span5">
        <h1>StreakFlow</h1>
        <h4>
        Goal tracking with built in motivation.
        </h4>
        <button class="btn btn-primary"  onclick="location.href='{% url 'registration_register' %}';" >Get started now</button>
  </div>
</div>

      <div class="hero-unit" style="margin-top:20px;">
        <p>
        Everyone knows that practice makes perfect. The problem is keeping the motivation, especially when it's difficult to see the positive effects instantly. This makes achieving your goals hard. <b>Streakflow makes it easy.</b> By tracking your streak of completions, you'll find yourself not wanting that streak to go to zero. Simply, <b>once you start streaking, you won't want to stop. <a href="{%url 'registration_register'%}">Register now</a></b>.
        </p>
      </div>

    <div class="row">
    <div class="span6">
          <div class="row">
              <h2>How it Works</h2>
          </div>
          <div class="row">
              <h3>Create Your Goals</h3>
              Let's say you want to work on your Spanish, get better at running, and connect with friends better. Your goals would be:
              <div>Practice Spanish</div>
              <div>Run 1 Mile</div>
              <div>Get Dinner with old Friends</div>
          </div>
          <div class="row">
              <h3>Decide How Often</h3>
              These goals don't require the same amount of effort to be successful. Some should be completed more often than others. After thinking about what you want to achieve, you come up with the following.
              <div>Practice Spanish: 1 time per day</div>
              <div>Run 1 Mile: 3 times per week</div>
              <div>Get Dinner with old Friends: 2 times per month</div>
          </div>
          <div class="row">
            <h3>Mark off Completions</h3>
            When you complete the goal, click the box to mark it off. You get credit for each completion. But if you don't finish what you set out to complete in the time frame you chose, you go back down to zero. Don't let this happen.
          </div>

          <div class="row">
            <h3><a href="{% url 'demo' %}">Play With Demo!</a></h3>
          </div>
    </div>
    <div class="span6">
        <div class="row">
            <h2>Why it's Effective</h2>
        </div>

        <div class="row">
            <h3>Simplicity</h3>
            The interface is dead simple. Just click a box to mark the objective complete. No complicated interfaces. No confusing settings. And best of all, <b>No gimmicks</b>.
        </div>

        <div class="row">
            <h3>Numeric Feedback</h3>
            By having a constant reminder of how far you've come, it makes it tougher for you to justify missing the current timeframe. 
        </div>

        <div class="row">
            <h3>Consistent Successes</h3>
            Being able to click a success box gives you a sense that you're achieving your goals, even when other types of feedback are tougher to see visually. And you actually are working towards your goals! Seeing that number increase on a regular basis makes you want to keep working.
        </div>
        <div class="row">
            <h3>You're in Control</h3>
            There are no outside pressures with Streakflow. You control everything from what the goal is, to how much work you put into it. This means no outside pressure and no one looking over you. Intrinsic work the whole way.
        </div>
    </div>
    </div>


    <div class="row">
    <div style="text-align:center"><button  onclick="location.href='{% url 'registration_register' %}';" class="btn btn-primary"><h1>Sign up now</h1></button></div>
    </div>

{% endblock %}
