{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      {% block title %}StreakFlow{% endblock %}
    </title>
    <link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" rel="stylesheet" media="screen">
    <link href="{{STATIC_URL}}css/base.css" rel="stylesheet" media="screen">
    {% block extrastyle %}
    {% endblock %}

  </head> 


  <body>
    <div id="wrap">
      <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            <a class="brand" href="/">StreakFlow</a> 
            <div class="nav-collapse collapse">
              <ul class="nav">
                <li><a href="{% url 'about' %}">About</a></li>
              </ul> 
              <ul class="nav pull-right">
                {%if user.is_authenticated%}
                  <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Welcome {{user}}!
                    <b class="caret"></b>
                    </a>
                      <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                        <li role="presentation">
                          <a role="menuitem" tabindex="-1" href="{% url 'profile' %}">View Profile</a>
                        </li>
                        <li role="presentation">
                          <a role="menuitem" tabindex="-1" href="{% url 'member_update' %}">Edit Profile</a>
                        </li>
                        <li role="presentation">
                          <a role="menuitem" tabindex="-1" href="{% url 'goal_create' %}">Create Goal</a>
                        </li>
                      </ul>
                  </li>
                  <li><a href="{%url 'auth_logout'%}">Logout</a></li>
                {% else %}
                  <li><a href="{%url 'auth_login'%}">Login</a></li>
                  <li><a href="{%url 'registration_register'%}">Register</a></li>
                {% endif %}
              </ul>
            </div>             
          </div> 
        </div> 
      </div> 
      <div class="container">
      {% block body %}
      {% endblock %}
      <div id="push"></div>
    </div>
      </div>
    <div id="footer">
      <div class="container">
        © 2013 <a href="http://www.jackdschultz.com">Jack Schultz</a>
      </div>
    </div>

    {% if not debug %}
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-42784246-2']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
    {% endif %}

    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
    <script src="{{STATIC_URL}}js/goals.js"></script>
    {% block extrascript %}
    {% endblock %}
  </body>

</html>
