{% extends "base.html" %}

{% load humanize %}

{% block body %}

  <div class="row">
      <h1 data-step="1" data-intro="Welcome to the demo! To get the most out of the tour, make sure to follow the directions so you know what Streakflow can do! Click next to continue.">STREAKFLOW DEMO</h1>
      <button class="btn btn-primary" style="margin-bottom:30px;" onclick="javascript:introJs().start();">Click here for the tour!</button>
      <button class="btn btn-primary pull-right" data-step="11" data-intro="Click to register now, or play around with the demo simulator!" style="margin-bottom:30px;"><a href="{% url 'registration_register' %}">Register!</a></button>
  </div>

<div>
  <div class="row">
    <div class="span3">
      <h1 class="goal-time-frame-heading">Daily</h1>
    </div>
    <div class="span9 exp-time" exp="0">
      THIS FRAME EXPIRES: 5 hours from now
    </div>
  </div>

  <div class="goal-top goal-overview daily-goal">
    <div class="row" data-step="10" data-intro="Miss a day and your streak starts over. Don't let this happen!">
      <div class="span2">
        <div class="goal-name goal-info">
          <a href="#">Practice Spanish</a>
        </div>
      </div>
      <div class="span2">
        <div class="goal-consecutive-frames goal-info" data-step="3" data-intro="Consecutive time frames increases when you complete">
          <span class="badge badge-info goal-streak-badge goal-consecutive">0</span>
        </div>
      </div>
      <div class="span2" data-step="7" data-intro="Daily goals are reset every day">
      <span class="complete-label label label-important">INCOMPLETE</span>
      </div>
      <div class="span6" data-step="2" data-intro="Click box to mark a goal as complete">
        <span class="demo-goal-objective" completed="false">
          <span class="goal-obj-info">
            <img class="goal-obj-img" data-step="8" data-intro="Click box again to increase your streak!" src="{{STATIC_URL}}img/square75x75.png"/>
          </span>
        </span>
      </div>
    </div>
  </div>

</div>

<div>

  <div class="row">
    <div class="span3">
      <h1 class="goal-time-frame-heading">Weekly</h1>
    </div>
    <div class="span9 exp-time week-time" exp="1">
      THIS FRAME EXPIRES: 1 days, 5 hours from now
    </div>
  </div>

  <div class="goal-top goal-overview">
    <div class="row">
      <div class="span2">
        <div class="goal-name goal-info">
          <a href="#">Run One Mile</a>
        </div>
      </div>
      <div class="span2">
        <div class="goal-consecutive-frames goal-info" data-step="5" data-intro="Only then is the number consecutive updated">
          <span class="badge badge-info goal-streak-badge goal-consecutive">0</span>
        </div>
      </div>
      <div class="span2">
      <span class="complete-label label label-important">INCOMPLETE</span>
      </div>
      <div class="span6" data-step="4" data-intro="If multiple per timeframe, click all to have successful timeframe">
        <span class="demo-goal-objective" completed="false">
          <span class="goal-obj-info">
            <img class="goal-obj-img" src="{{STATIC_URL}}img/square75x75.png"/>
          </span>
        </span>
        <span class="demo-goal-objective" completed="false">
          <span class="goal-obj-info">
            <img class="goal-obj-img" src="{{STATIC_URL}}img/square75x75.png"/>
          </span>
        </span>
        <span class="demo-goal-objective" completed="false">
          <span class="goal-obj-info">
            <img class="goal-obj-img" src="{{STATIC_URL}}img/square75x75.png"/>
          </span>
        </span>
      </div>
    </div>
  </div>



  </div>

<div>

<div class="row">
  <div class="span3">
    <h1 class="goal-time-frame-heading">Monthly</h1>
  </div>
  <div class="span9 exp-time month-time" exp="12">
    THIS FRAME EXPIRES: 12 days, 5 hours from now
  </div>
</div>

  <div class="goal-top goal-overview">
    <div class="row">
      <div class="span2">
        <div class="goal-name goal-info">
          <a href="#">Meet Up With Old Friends</a>
        </div>
      </div>
      <div class="span2">
        <div class="goal-consecutive-frames goal-info">
          <span class="badge badge-info goal-streak-badge goal-consecutive">0</span>
        </div>
      </div>
      <div class="span2">
      <span class="complete-label label label-important">INCOMPLETE</span>
      </div>
      <div class="span6">
        <span class="demo-goal-objective" completed="false">
          <span class="goal-obj-info">
            <img class="goal-obj-img" src="{{STATIC_URL}}img/square75x75.png"/>
          </span>
        </span>
        <span class="demo-goal-objective" completed="false">
          <span class="goal-obj-info">
            <img class="goal-obj-img" src="{{STATIC_URL}}img/square75x75.png"/>
          </span>
        </span>
      </div>
    </div>
  </div>

</div>

<span data-step="9" data-intro="Click the move ahead button twice.">
<button class="btn" id="advance-time" data-step="6" data-intro="Click the button to move into the future!">Move 24 hours into the future!</button>
</span>


{% endblock %}

{% block extrastyle %}
    <link href="{{STATIC_URL}}css/introjs.css" rel="stylesheet" media="screen">
{% endblock %}


{% block extrascript %}
  <script src="{{STATIC_URL}}js/demo.js"></script>
  <script src="{{STATIC_URL}}js/intro.js"></script>
{% endblock %}


