
{% extends "base.html" %}
{% load i18n %}

{% block title %} {% trans 'Password change' %} {% endblock %}

{% block body %}

<h1>{% trans 'Password change' %}</h1>

<p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>

  <form action="" method="post" class="form-vertical">
    <h2 class="form-register-heading">Register to be accountable</h2>
    {%csrf_token%}
    <div class="control-group">
      <input id="id_old_password" name="old_password" placeholder="old password" type="password"/>
      <span class="help-inline">
      {% for e in form.old_password.errors %}
        {{e|escape}}
      {% endfor %}
      </span>
    </div>
    <div class="control-group">
      <input id="id_new_password1" name="new_password1" placeholder="new password" type="password"/>
      <span class="help-inline">
      {% for e in form.new_password1.errors %}
        {{e|escape}}
      {% endfor %}
      </span>
    </div>
    <div class="control-group">
      <input id="id_new_password2" name="new_password2" placeholder="new password again" type="password"/>
      <span class="help-inline">
      {% for e in form.new_password2.errors %}
        {{e|escape}}
      {% endfor %}
      </span>
    </div>

    <div class="control-group">
      <button class="btn btn-large btn-primary" type="submit">Sign Up</button>
    </div>
  </form>

{% endblock %}

{% block content-related %}

{% endblock %}
