{% extends "base.html" %}

{% block body %}
  <form action="" method="post" class="form-vertical">
    <h2 class="form-register-heading">Register and start streaking</h2>
    {%csrf_token%}
    <div class="control-group">
      <input id="id_username" name="username" placeholder="username" type="text" value="{{form.username.value|default_if_none:''}}"/>
      <span class="help-inline">
      {% for e in form.username.errors %}
        {{e|escape}}
      {% endfor %}
      </span>
    </div>
    <div class="control-group">
      <input id="id_email" name="email" placeholder="email" type="text" value="{{form.email.value|default_if_none:''}}"/>
      <span class="help-inline">
      {% for e in form.email.errors %}
        {{e|escape}}
      {% endfor %}
      </span>
    </div>
    <div class="control-group">
      <input id="id_password1" name="password1" placeholder="password" type="password"/>
      <span class="help-inline">
      {% for e in form.password1.errors %}
        {{e|escape}}
      {% endfor %}
      </span>
    </div>
    <div class="control-group">
      <input id="id_password2" name="password2" placeholder="password again!" type="password"/>
    </div>
    <script type="text/javascript">
        var DjangoRecaptchaOptions = {
      "lang": "en",
      "theme": "clean"
    };
        if (typeof RecaptchaOptions !== 'object') {
            RecaptchaOptions = DjangoRecaptchaOptions;
        } else {
            for (key in DjangoRecaptchaOptions) {
                RecaptchaOptions[key] = DjangoRecaptchaOptions[key];
            }
        }
    </script>
    <script type="text/javascript" src="http://www.google.com/recaptcha/api/challenge?k=6LdzZOYSAAAAAMh-cWjEzrQvN-yATIP_W4H5izWl&hl=en"></script>
    <noscript>
      <iframe src="http://www.google.com/recaptcha/api/noscript?k=6LdzZOYSAAAAAMh-cWjEzrQvN-yATIP_W4H5izWl&hl=en" height="300" width="500" frameborder="0"></iframe><br />
      <textarea name="recaptcha_challenge_field" rows="3" cols="40"></textarea>
      <input type='hidden' name='recaptcha_response_field' value='manual_challenge' />
    </noscript>


    <div class="control-group">
      <button class="btn btn-large btn-primary" type="submit">Sign Up</button>
    </div>
  </form>
  <div class="">
    Already a member? <a href="{% url 'auth_login' %}">Login</a>
  </div>



{% endblock %}
